*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: rgb(193, 174, 130);
}
table,
td {
    border: 1px solid #3c3107;
}

thead,
tfoot.c {
    background-color: #e1f0f1;
    color: #e60c8e;
}
.p.c{
    color: #c9107f;
}